body{
    background: linear-gradient(rgb(136, 211, 240), rgb(248, 142, 200));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}
h1{
    color: rgba(255, 143, 105, 0.904);
}
p{
    color: black;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.toplink{
    color: black;
    overflow: hidden;
}
.toplink a{
    color: antiquewhite;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    float: left;
    text-align: left;
}
.toplink a:hover{
    color: black;
    background-color: antiquewhite;
    text-decoration: none;
}
.toplink-right{
    float: right;
}
.banner{
    background-color: pink;
    padding: 2px;
    text-align: center;
    color: whitesmoke;
}
.row:after{
    content: "";
    display: block;
    clear: both;
}
.content{
    float: left;
    width: 70%;
    padding: 15px;
}
.side_bar{
    float: left;
    width: 20px;
    padding: 20px;
    text-align: center;
}
.row{
    content: "";
    display: block;
    clear: both;
}
h2{
    text-align: left;
    color: pink;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
}
table{
    border: 1px black;
    border-collapse: collapse;
    width: 70%;
}
td{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: left;
}
th{
    background-color: rgb(226, 43, 150);
    color:blueviolet;
    padding: 5px;
    text-align: left;
}
tr :nth-child(odd){
    background-color: rgb(0, 64, 255);
}
tr:hover{
    background-color: rgb(248, 196, 255);
}
